@use './variaveis' as *;
.camera-box{
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    max-width: 850px;
    margin: 2rem;
    text-align: center;
    color: $claro;
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 1rem;
    text-align: center;
    color: white;
}
.preview{
    width: 90%;
    background: white;
    border-radius:15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
video, img{
    display: flex;
    justify-content: center;
    
    width: 50%;
    height: 50%;
    object-fit:cover;
    border-radius:12px;
}
