.corpo {
  background-image: url('../assets/arenaPokemon.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
   
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #7722f71a;
    backdrop-filter: blur(0.5px); 
  }

  > * {
    position: relative;
    z-index: 1;
  }
}